@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --color-background: hsla(224, 100%, 95%, 1);
  --color-navigation: hsla(0, 0%, 100%, 1);
  --color-card: hsla(215, 72%, 93%, 1);
  --color-accent: hsla(222, 100%, 52%, 1);
  --color-heading-text: hsla(0, 0%, 0%, 1);
  --color-subtitle-text: hsla(0, 0%, 44%, 1);

  /* sizes */
  --text-size-h2: 3.75rem;
  --text-size-h3: 2.25rem;
  --text-size-p: 1.5rem;
}

body {
  background-color: var(--color-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
