@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --color-background: hsla(224, 100%, 95%, 1);
  --color-navigation: hsla(0, 0%, 100%, 1);
  --color-card: hsla(215, 72%, 93%, 1);
  --color-accent: hsla(222, 100%, 52%, 1);
  --color-heading-text: hsla(0, 0%, 0%, 1);
  --color-subtitle-text: hsla(0, 0%, 44%, 1);

  /* sizes */
  --text-size-h2: 3.75rem;
  --text-size-h3: 2.25rem;
  --text-size-p: 1.5rem;
}

body {
  background-color: var(--color-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .cta-text {
    @apply text-center text-3xl text-headingText md:text-7xl;
  }
  .btn-primary {
    @apply rounded-2xl border-4 border-flippaBlue bg-flippaBlue px-2 py-2 text-navigation;
  }
  .calculator-title {
    @apply col-span-2 text-3xl text-black md:text-5xl;
  }
  .explainer-text {
    @apply col-span-2 text-xs text-subtitleText opacity-100 md:text-xl;
  }
  .subtitle-text {
    @apply text-justify text-xs text-black opacity-100 md:text-xl;
  }
  .input-primary {
    @apply col-span-2 h-8 w-[100%] rounded-lg border border-flippaBlue md:h-16 md:rounded-2xl md:px-3;
  }
  .calculator-card {
    @apply col-start-2 col-end-4 min-h-300 max-w-300 rounded-3xl border-4 border-flippaBlue bg-card p-[2rem] text-center md:col-start-3 md:col-end-4 md:max-w-800;
  }
  .calculator-form {
    @apply grid grid-cols-2 gap-y-4;
  }
  .label-text {
    @apply text-left text-lg text-black md:text-2xl;
  }
}
